@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .typo-body-2xs {
    font-size: 12px;
    font-weight: 510;
    line-height: 1.6em;
    letter-spacing: 0.004em;
  }
  .typo-body-xs {
    font-size: 13px;
    font-weight: 450;
    line-height: 1.6em;
    letter-spacing: 0.004em;
  }
  .typo-body-sm {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0em;
  }
  .typo-body-md {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0em;
  }
  .typo-body-lg {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0em;
  }
  .typo-label-bold-xs {
    font-size: 14px;
    font-weight: 570;
    line-height: 1.5em;
    letter-spacing: -0.005em;
  }
  .typo-label-bold-sm {
    font-size: 15px;
    font-weight: 570;
    line-height: 1.5em;
    letter-spacing: -0.005em;
  }
  .typo-label-bold-md {
    font-size: 16px;
    font-weight: 570;
    line-height: 1.5em;
    letter-spacing: -0.005em;
  }
  .typo-label-bold-lg {
    font-size: 18px;
    font-weight: 570;
    line-height: 1.5em;
    letter-spacing: -0.005em;
  }
  .typo-label-xs {
    font-size: 14px;
    font-weight: 510;
    line-height: 1.5em;
    letter-spacing: 0em;
  }
  .typo-label-sm {
    font-size: 15px;
    font-weight: 510;
    line-height: 1.5em;
    letter-spacing: 0em;
  }
  .typo-label-md {
    font-size: 16px;
    font-weight: 510;
    line-height: 1.5em;
    letter-spacing: 0em;
  }
  .typo-label-lg {
    font-size: 18px;
    font-weight: 510;
    line-height: 1.5em;
    letter-spacing: 0em;
  }
  .typo-title-1 {
    font-size: 20px;
    font-weight: 570;
    line-height: 1.4em;
    letter-spacing: -0.01em;
  }
  .typo-title-2 {
    font-size: 25px;
    font-weight: 570;
    line-height: 1.4em;
    letter-spacing: -0.01em;
  }
  .typo-title-3 {
    font-size: 32px;
    font-weight: 570;
    line-height: 1.4em;
    letter-spacing: -0.01em;
  }
  .typo-title-4 {
    font-size: 40px;
    font-weight: 570;
    line-height: 1.4em;
    letter-spacing: -0.01em;
  }
  .typo-display-1 {
    font-size: 48px;
    font-weight: 640;
    line-height: 1.3em;
    letter-spacing: -0.014em;
  }
  .typo-display-2 {
    font-size: 56px;
    font-weight: 640;
    line-height: 1.3em;
    letter-spacing: -0.014em;
  }
  .typo-display-3 {
    font-size: 64px;
    font-weight: 640;
    line-height: 1.3em;
    letter-spacing: -0.014em;
  }
  .typo-display-4 {
    font-size: 72px;
    font-weight: 640;
    line-height: 1.3em;
    letter-spacing: -0.014em;
  }
}
